header{ 	/*Especificidad del selector = (001)*/
    background-color: #333333;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
    height: 100%;
    margin: 0% 0% 2%;
    width: 100%;
}
p{ 	        /*Especificidad del selector = (001)*/
    color: white;
    font-weight: bold;
}